<link rel="stylesheet" href="/jsLibs/themes/default/easyui.css">
<link rel="stylesheet" href="/jsLibs/themes/icon.css">
<!--<link rel="stylesheet"  href="'/jsLibs/demo/demo.css">-->

<script src="/jsLibs/jquery.min.js"></script>
<script src="/jsLibs/jquery.easyui.min.js"></script>
<script src="/javascripts/admin.js"></script>
<script src="/javascripts/datagridTemplate.js"></script>


<!--module.exports = function(sequelize, DataTypes) {-->
<!--var SystemLog = sequelize.define('SystemLog', {-->
<!--type: DataTypes.STRING,-->
<!--actionName: DataTypes.STRING,-->
<!--infoMessage: DataTypes.TEXT,-->
<!--id:-->
<!--{-->
<!--type: DataTypes.UUID,-->
<!--defaultValue: DataTypes.UUIDV1,-->
<!--primaryKey: true-->
<!--},-->
<!--}, {-->
<!--classMethods: {-->
<!--associate: function(models) {-->
<!--// associations can be defined here-->
<!--}-->
<!--}-->
<!--});-->
<!--return SystemLog;-->
<!--};-->




<div class="easyui-layout" style="width:100%;height:100%;">
    <div data-options="region:'north'" style="height:50px"></div>

    <div data-options="region:'center',iconCls:'icon-ok'" style="width:33%;height: 33%">
        <table class="easyui-datagrid"  style="width:700px;height:100%"
               data-options="rownumbers:true,singleSelect:true,toolbar:toolbarLogs" id="idLogsGrid">
            <thead>
            <tr>
                <th data-options="field:'type',width:80">Тип Лога</th>
                <th data-options="field:'actionName',width:100">Название Действия</th>
                <th data-options="field:'infoMessage',width:240">Основная Информация</th>

            </tr>
            </thead>
        </table>

        <!--<th data-options="field:'name',width:150,align:'left'">Название Параметра</th>-->
        <!--<th data-options="field:'label',width:150,align:'left',editor:'text'">Введите свое название</th>-->
        <!--<th data-options="field:'currentValue',width:150,align:'left'">Текущее значение</th>-->

        <!--<table class="easyui-datagrid" id=idLogsGrid" title="DataGrid with Toolbar" style="width:700px;height:250px"-->
               <!--data-options="rownumbers:true,singleSelect:true,toolbar:toolbarLogs">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th data-options="field:'typeLog',width:80">Тип Лога</th>-->
                <!--<th data-options="field:'name',width:100">Название Действия</th>-->
                <!--<th data-options="field:'message',width:240">Основная Информация</th>-->
            <!--</tr>-->
            <!--</thead>-->
        <!--</table>-->

    </div>
</div>


<script type="text/javascript">
    var toolbar = [{
        text:'Add',
        iconCls:'icon-add',
        handler:function(){alert('add')}
    },{
        text:'Cut',
        iconCls:'icon-cut',
        handler:function(){alert('cut')}
    },'-',{
        text:'Save',
        iconCls:'icon-save',
        handler:function(){alert('save')}
    }];
</script>