<nav class="navbar navbar-default" role="navigation">
    <li><a href="/">Главная</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Войти</a></li>

    </ul>
</nav>